.icon-item-info{
    width: 18px;
    margin: 2px;
}
.decklistName{
    color: blue;
    font-size: 20px;
}
.deckversion{
    color: grey;
    font-size: 14px;
    font-style: italic;
    padding: 2px;
}
.authorname{
    font-size: 16px;
    color: green;
    font-style: italic;
    padding: 2px;
}
.publishdate {
    margin: 2px;
    padding-top: 2px;
    font-style: italic;
    font-size: 16px;
}
.decklist-item-container{
    margin: 20px 0;
    width: 100%;
}
.td-decklistname{
    padding-top: 20px;
}
.td-info-item{
    padding-top: 20px;
}
.td-author-deckversion{
    padding-top: 10px;
}
.td-publishdate{
    padding-top: 10px;
}
.pageindex-container{
    align-items: center;
    /* border: 1px solid; */
    padding: 5px auto;
}
.pagination{
    /* border: 1px solid; */
    margin: 10px auto;
}

/*

Deck info

*/

.decklist-name {
    border-bottom: 1px solid lightgray;
}
.nav-item-size {
    font-size: 20px;
}
.deckinfo-nav {
    margin-bottom: 20px;
    margin-top: 20px;
}

/*

Deck Content

*/
.deck-pokemon {
    font-size: 24px;
}

/*

Deck Description

*/
.deck-description {
    word-wrap: break-word;
    word-break: normal;
}

/*

Deck Comment

*/
.comment-date {
    color: lightgray;
    float: right;
}
.comment-text {
    clear: right;
    font-size: 18px;
}
.comment-text p {
    margin: 0 0 10px;
}